{% extends 'base.html' %}
{% block content %}

<h1>Gundam List</h1>

{% for gundam in gundams %}
  <div class="card">
    <a href="{% url 'detail' gundam.id %}">
    <div class="card-content">
      <span class="card-title">{{ gundam.name }}</span>
      <p>Skill: {{ gundam.skill }}</p>
      <p>Description: {{ gundam.description|linebreaks }}</p>
      {% if gundam.year > 0 %}
        <p>Year: {{ gundam.year }}</p>
      {% else %}
        <p>Year: Mobile Suit</p>
      {% endif %}
    </div>
   </a>
  </div>
{% endfor %}

{% endblock %}
